
.dropdown-menu { position: absolute; top: 10px; left: 10px; z-index: 99; }

html, body
{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map_canvas
{
    height:100vh;
    width:80vw;
    float:left;
}

#slidepanel
{
    width: 20vw;
    height:100vh;
    float: right;
}
#toggleButton
{
    float: right;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
@media only screen and (max-width: 840px) {
    #map_canvas
{
    height: 95vh;
    width: 100%;
}

#slidepanel
{
    width: 100%;
}
  }
